.privacy__wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 50px auto;
  padding: 0 30px;
}

@media (max-width: 768px) {
  .privacy__wrapper {
    padding: 0 10px;
  }
}

.privacy__title {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 700;
}