.form-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s, visibility .3s;
  -o-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
  z-index: 10;
}

.form-wrapper_visible {
  opacity: 1;
  visibility: visible;
}

.form-popup-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  background: url(../../images/popup-bg.webp) center / cover no-repeat;
  max-width: 700px;
  width: 100%;
  min-height: 500px;
  margin: 0 20px;
  padding: 70px 60px;
  outline-offset: -50px;
  cursor: default;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  width: 40px;
  height: 40px;
  background-color: var(--red-color);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup-close span {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 100%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close span:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.form-popup {
  padding: 30px 50px;
  border: 1px solid #fff;
}

.form-popup-title {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
}

.form-popup-inputs {
  margin-top: 40px;
}

.form-popup-contacts {
  border: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  width: 100%;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.form-popup-contacts::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.form-popup-contacts::-moz-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.form-popup-contacts:-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.form-popup-contacts::-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.form-popup-contacts::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.form-popup-contacts:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-popup-contacts:focus::-moz-placeholder {
  color: transparent;
}

.form-popup-contacts:focus:-ms-input-placeholder {
  color: transparent;
}

.form-popup-contacts:focus::-ms-input-placeholder {
  color: transparent;
}

.form-popup-contacts:focus::placeholder {
  color: transparent;
}

.form-popup-submit {
  text-align: center;
  margin-top: 10px;
}

.form-popup-btn {
  position: relative;
  color: #fff;
  border: 2px solid #fff;
  max-width: 200px;
  width: 100%;
  height: 50px;
}

.form-popup-paragraph {
  color: #fff;
  margin-top: 30px;
  font-size: 12px;
}

.form-popup-paragraph .privacy {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.form-popup-answer {
  position: absolute;
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}