.about {
  max-width: 1920px;
  margin: 0 auto;
}

.about__wrapper {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px 40px;
}

@media(max-width: 1024px) {
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media(max-width: 500px) {
  .about__wrapper {
    margin-top: 30px;
  }
}

.about__photo {
  max-width: 830px;
  width: 100%;
  outline: 1px solid var(--red-color);
  padding: 50px;
  margin-right: 20px;
}

.about__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.about__info {
  max-width: 768px;
  width: 100%;
  margin-right: 20px;
}

@media(max-width: 1024px) {
  .about__photo {
    padding: 40px 40px 40px 50px;
  }

  .about__info {
    min-width: 100%;
    margin-right: 0;
    padding: 0 20px;
  }
}

@media(max-width: 500px) {
  .about__info {
    padding: 0 15px;
  }
}

.about__text {
  font-size: 26px;
}

.about__text span {
  color: var(--red-color);
  font-weight: 600;
}

.about__text:last-of-type {
  margin-top: 15px;
}

.about__list {
  counter-reset: list-counter;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px 50px;
  margin-top: 40px;
}

@media(max-width: 500px) {
  .about__text {
    font-size: 18px;
  }

  .about__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
}

.about__item {
  opacity: 0;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.about__item_visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.about__item-subtitle {
  position: relative;
  font-size: 26px;
  font-weight: 600;
  color: var(--blue-color);
}

.about__item-subtitle::before {
  display: inline-block;
  content: counter(list-counter, decimal-leading-zero) '.';
  counter-increment: list-counter;
  color: var(--red-color);
  margin-right: 5px;
}

@media(max-width: 500px) {
  .about__item-subtitle {
    font-size: 18px;
  }
}

.about__item-text {
  margin-top: 15px;
  font-size: 14px;
}