@media(max-width: 900px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__item {
  position: relative;
}

.nav__link {
  color: #fff;
}

.nav__link::after {
  content: '';
  position: absolute;
  width: 0;
  left: -50%;
  bottom: -1px;
  height: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.nav__link:hover::after {
  width: 100%;
}