.header-home {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
}

.header {
  background-color: var(--red-color);
}

.header-home .container,
.header .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 40px 1fr 40px -webkit-min-content;
  -ms-grid-columns: min-content 40px 1fr 40px min-content;
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
  grid-template-columns: min-content 1fr min-content;
  gap: 20px 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media(max-width: 500px) {

  .header-home .container,
  .header .container {
    gap: 30px 0;
  }

  .header-home .logo,
  .header .logo {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

}

.header-button {
  -ms-grid-column-align: center;
  justify-self: center;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  max-width: 200px;
  width: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header-button:hover {
  border: 2px solid var(--orange-color);
  color: var(--orange-color);
}

.header-button:active {
  border: 2px solid var(--blue-color);
  color: var(--blue-color);
}