.partners.container {
  display: flex;
  margin-top: 100px;
  gap: 35px 5px;
}

@media(max-width: 1300px) {
  .partners.container {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.partners .form-block {
  border: 2px solid rgb(74, 159, 179);
  height: fit-content;
}

.partners .title:first-of-type {
  display: none;
}

.partners .partners__list .title {
  display: block;
  padding-top: 0;
}

.partners__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(140px, 1fr));
  gap: 2px;
  justify-items: center;
  width: fit-content;
}

.partners__list li:not(:first-of-type) {
  border: 1px solid #CCDCD6;
}

@media(max-width: 600px) {
  .partners.container {
    margin-top: 0;
  }

  .partners .title:first-of-type {
    display: block;
    order: 1;
  }

  .partners .partners__list li:first-of-type {
    display: none;
  }

  .partners__list {
    grid-template-columns: repeat(2, minmax(140px, 1fr));
  }
}

.partners__list li:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 3;
}

.partners__list li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 93px;
  padding: 10px 40px
}

.partners__list img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}