.footer {
  background-color: var(--blue-color);
  padding: 30px 0 50px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 25px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
}

.footer__logo>.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0;
  top: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.footer__wrapper .nav {
  display: block;
  max-width: 300px;
  width: 100%;
}

.footer__wrapper .nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 25px -webkit-max-content;
  -ms-grid-columns: max-content 25px max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 25px;
}

.footer__wrapper .nav__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer__schedule {
  color: #fff;
  line-height: 21px;
  text-align: right;
}

.footer__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
}

.footer__policy>div {
  max-width: 400px;
  width: 100%;
}

.footer__policy-link {
  color: #fff;
  border-bottom: 1px solid #fff;
}

@media(max-width: 700px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__wrapper .nav__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer__wrapper .nav__item {
    width: auto;
    text-align: center;
  }

  .footer__schedule {
    text-align: center;
  }

  .footer__policy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}