.blog.container {
  margin: 0 auto 50px;
}

.blog__card {
  margin-top: 50px;
  border: 1px solid rgb(74, 159, 179);
  padding: 20px;
}

.blog__subtitle {
  font-size: 26px;
  font-weight: 600;
  margin: 0 0 15px;
}

.blog__text {
  font-size: 14px;
  overflow: hidden;
}

.blog__card h4 {
  font-size: 18px;
  margin: 0 0 15px;
}

.blog__btn {
  margin-top: 15px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #000;
}

@media(max-width: 425px) {
  .blog__card {
    padding: 10px;
  }

  .blog__subtitle {
    font-size: 16px;
  }

  .blog__text {
    font-size: 12px;
  }

  .blog__card h4 {
    font-size: 14px;
  }

  .blog__btn {
    font-size: 12px;
  }
}

.blog__gallery {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

@media(max-width: 768px) {
  .blog__gallery {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.blog__img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}

@media(max-width: 425px) {
  .blog__img {
    height: 100px;
  }
}

.blog-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}

.blog-modal-img {
  width: 80%;
  height: 100%;
  padding: 20px;
}

.blog-modal-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}