@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url(./vendor/normalize.css);
@import url(./components/Header/Header.css);
@import url(./components/Footer/Footer.css);
@import url(./components/Social/Social.css);
@import url(./components/Navigation/Navigation.css);
@import url(./components/MobileNavigation/MobileNavigation.css);
@import url(./components/InfoTop/InfoTop.css);
@import url(./components/About/About.css);
@import url(./components/AboutWork/AboutWork.css);
@import url(./components/Feedback/Feedback.css);
@import url(./components/Partners/Partners.css);
@import url(./components/Blog/Blog.css);
@import url(./components/Activities/Activities.css);
@import url(./components/Agreement/Agreement.css);
@import url(./components/Privacy/Privacy.css);
@import url(./components/Form/Form.css);
@import url(./components/FormReply/FormReply.css);
@import url(./components/FormPopup/FormPopup.css);
@import url(./components/Preloader/Preloader.css);

:root {
  --red-color: #C23A35;
  --orange-color: #F0A43B;
  --blue-color: #4A9FB3;
  --green-color: #B2D074;
  --yellow-color: #F8E36B;
}

body {
  font-family: 'Inter', sans-serif;
  min-width: 320px;
}

.page-hidden {
  overflow: hidden;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

@media(max-width: 500px) {
  .container {
    padding: 0 15px;
  }
}

.logo {
  background: url(./images/logo.svg) center no-repeat;
  width: 120px;
  height: 60px;
  border: 2px solid #fff;
}

.title {
  padding-top: 100px;
  font-size: 46px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

@media(max-width: 768px) {
  .title {
    padding-top: 50px;
  }
}

@media(max-width: 500px) {
  .title {
    font-size: 26px;
    line-height: normal;
  }
}