.form-reply {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s, visibility .3s;
  -o-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
  z-index: 10;
}

.form-reply__visible {
  opacity: 1;
  visibility: visible;
}

.form-reply__text {
  background-color: #fff;
  font-size: 18px;
  max-width: 600px;
  width: 100%;
  height: 300px;
  padding: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}