.burger-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  border: none;
  width: 40px;
  height: 23px;
  padding: 0;
}

@media(min-width: 1000px) {

  .burger-button,
  .mobile-nav {
    display: none;
  }
}

@media(max-width: 500px) {

  .burger-button {
    justify-self: flex-end;
  }
}

.burger {
  width: 70%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.burger::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 85%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.burger::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.burger-button:hover .burger,
.burger-button:hover .burger::before {
  width: 100%;
}

.mobile-menu {
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -o-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
  cursor: pointer;
  z-index: 100;
}

.mobile-menu_visible {
  opacity: 1;
  visibility: visible;
}

.mobile-nav {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(120%);
  -ms-transform: translateX(120%);
  transform: translateX(120%);
  background-color: var(--red-color);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 80px 50px 60px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  cursor: default;
}

.mobile-menu_visible .mobile-nav {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.btn-close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;
  background: transparent;
}

.btn-close span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.btn-close span:first-child {
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-close span:last-child {
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 25px;
}

.mobile-nav__link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}